<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Metamorphous|Source+Code+Pro" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />

    <title>Grill'Em All!</title>
</head>

<body>
    <img src="/public/img/grillemall.jpg" width="400px" id="metal_burger">
    
    {{{body}}}
</body>

</html>